//====== BREAKPOINTS =======
$breakpoints: (
    small: 0, //mobile
    medium: 768px, //tablet
    large: 1025px //desktop
);

//====== COLORS =======
$color-primary: #A14EBF;
$color-secondary: #555555;
$color-grey: #f5f8fa;
$color-grey-2: #e7e9eb;
$color-purple: #AF69C9;
$color-green: #10D1AD;
$color-green-dark: #0EBE9E;
$color-green-2: #1FC176;
$color-green-2-dark: #1DAF6B;
$color-blue: #51B9F6;
$color-blue-light: #85b7d9;
$color-blue-light-2: #1264a3;
$color-blue-dark: #2AAAF4;
$color-red: #F9544E;
$color-red-dark: #F72D26;
