//====== BREAKPOINTS =======
$breakpoints: (
    small: 0, //mobile
    medium: 768px, //tablet
    large: 1025px //desktop
);

//====== COLORS =======
$color-primary: #AF46A3;
$color-secondary: #555555;
$color-grey: #f5f8fa;
$color-grey-2: #e7e9eb;
$color-purple: #B950AD;

$color-green: #00CC8F;
$color-green-dark: #00B881;

$color-green-2: #1FC176;
$color-green-2-dark: #1DAF6B;

$color-blue: #71ACD6;
$color-blue-light: #85b7d9;
$color-blue-dark: #4190C8;

$color-red: #F9544E;
$color-red-dark: #F72D26;

